////////////////////////////////////////////////////////////////////////////////
// CONSTANTS //

// Colors
$primary-color: #40c057;

$text-color: #555;

$white-color: #fff;
$black-color: #000;

// Fonts

$body-font: 'Montserrat', sans-serif;
