////////////////////////////////////////////////////////////////////////////////
// CONSTANTS //

// Colors
$primary-color-1: #ffd43b;
$primary-color-2: #fcc419;

$text-color: #555;

$white-color: #fff;
$black-color: #000;

// Fonts

$body-font: 'Montserrat', sans-serif;
